img{
  width: 100%;
}
h1 {
  color: white;
  background-color: black;
  text-align: center;
  margin: 10px 20px 0px 20px;
  border: 2px solid white;
  padding: 10px 0px;
}
body {
background-color: lightblue;
margin: 0px;
}
ul{
  display: flex;
  width: auto;
  margin: 0px 20px;
  padding: 0px;
}
.enlace{
  text-decoration: none;
  color: white;
}
.menu li {
  width: 100%;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.menu li button{
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.menu li button:hover {
  background-color: red;
}
aside{
  display: flex;
  width: auto;
  padding: 20px;
  flex-direction: column;
}
aside button{
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
aside button:hover {
  background-color: red;
}
.contenedor-tarjetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}
.tarjeta {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #f4f4f4;
  text-align: left;
  padding: 15px;
  margin: 10px;
  align-self: center;
}
.tarjeta:hover {
  transform: translateY(-5px);
}
.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.tarjeta iframe{
  width: 100%;
}
.tarjeta button {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}
.tarjeta button:hover {
  background-color: red;
}
footer{
  color: white;
  width: 100%;
  padding: 10px;
  background-color: #B0BEC5;
}
@media only screen and (min-width: 1150px) {
  .grid{
    display: grid;
    grid-template-areas:
    "aside main";
  }
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.news {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.metadata {
  color: #666;
  font-size: 14px;
}
.content {
  color: #444;
  line-height: 1.6;
}
.mid{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mid1{
  width: 50%;
}